@import "tailwindcss";

body {
  font-family: "poppins", "sans-serif";
}

button {
  border-radius: 100px;
  padding: 0.4em 1.4em;
  background-color: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  transition-duration: 900ms;
   transform: scale(0.95);
   transition: transform 0.5s ease-in;
   
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
   
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}